altair
anyio
astrapy
attrs
black
blinker
cachetools
certifi
charset-normalizer
click
deprecation
dnspython
exceptiongroup
flake8
Flask
flask-cors
gitdb
GitPython
h11
h2
hpack
httpcore
httpx
hyperframe
idna
instaloader
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mccabe
mdurl
mypy-extensions
narwhals
numpy
packaging
pandas
pathspec
pillow
platformdirs
protobuf
pyarrow
pycodestyle
pydeck
pyflakes
Pygments
pymongo
python-dateutil
python-dotenv
pytz
referencing
requests
rich
rpds-py
six
smmap
sniffio
streamlit
streamlit-chat
tenacity
toml
tomli
tornado
tqdm
typing_extensions
tzdata
urllib3
uuid6
watchdog
Werkzeug
